@font-face{
	font-family: Myriad;
	src: url("../fonts/MyriadSetPro-Ultralight.ttf");
}

ul,li{
	list-style: none;
	display: block;
}

a{
	color: #fafafa;
	text-decoration: none;
}

body{
	margin: 0;
}

#fullpage{
	color: #fff;
	font-family: Myriad, Microsoft Yahei;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.section{
	overflow: hidden;
}

.page1{
	text-align: center;
	color: #fff;
	background: url(images/page1-bcg.png);
	background-size: 100% 100%;
}

.wrap{
	position: relative;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
}

.content{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
	width: 100%;
}

.photo{
	margin-bottom: 50px;
}

.photo img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 2px solid #fff;
}

#photo:hover{
	cursor: pointer;
}

.page1 h1{
	font-weight: lighter;
	font-size: 1.8rem;
}
.page1 h2{
	margin: 0 auto;
	width: 90%;
	font-weight: lighter;
	font-size: 2.5rem;
}

/*page1ended, page2 begins*/

.page2{
	font-family: Microsoft Yahei;
}

.page2 h2{
	font-weight: lighter;
	font-size: 1.5rem;
	margin-top: 50px;
	margin-left: 10%;
}

.introductionlist{
	margin-left: 10%;
	margin-top: 40px;
}


.icon{
	width: 35px;
	margin-right: 10%;
	vertical-align: middle;
}

.introductionlist li{
	margin-top: 20px;
	margin-bottom: 20px;
}

.tip{
	font-size: 16px;
	font-weight: lighter;
	vertical-align: middle;
}

@media all and (max-width: 420px){

	.page1 h2{
		font-size: 1.5rem;
	}

	.page2 h2{
	font-weight: lighter;
	font-size: 1.5rem;
	margin-top: 30px;
	margin-left: 7%;
}

.introductionlist{
	margin-left: 5%;
	margin-top: 26px;
}


.icon{
	width: 35px;
	margin-right: 10%;
	vertical-align: middle;
}

.introductionlist li{
	margin-top: 20px;
	margin-bottom: 20px;
}

.tip{
	font-size: 16px;
	font-weight: lighter;
	vertical-align: middle;
}
}

@media all and (min-width: 600px){
	.icon{
		margin-right: 30%;
	}
}

/*.tip{
	-webkit-animation:moveLeft 0.8s ease-in-out 0.5s backwards;
	-moz-animation:moveLeft 0.8s ease-in-out 0.5s backwards;
	-o-animation:moveLeft 0.8s ease-in-out 0.5s backwards;
	-ms-animation:moveLeft 0.8s ease-in-out 0.5s backwards;
	animation:moveLeft 0.8s ease-in-out 0.5s backwards;
}
*/
@keyframes moveLeft{
	0%{
		transform: translateX(100px);
		opacity: 0;	
	}
	100%{
		transform: translateX(0px);
		opacity: 1;
	}
}

/*page2 ended, page3 begins*/

.page3{
	color: #ff6600;
}

.page3 h2{
	margin-left: 5%;
	font-size: 1.5rem;
	margin-top: 50px;
}

.hobby-chart{
	position: relative;
	margin: 0 auto;
	width: 90%;
	height: 65%;
}

.column{
	position: absolute;
	bottom: 0;
	background: #0f0;
	width: 10%;
	border-radius: 5px;
}

#basketballC{
	left: 35%;
	height: 85%;
	background: #3366cc;
}

#conanC{
	left: 55%;
	height: 55%;
	background: #ff9900;
}

#programmingC{
	left: 15%;
	height: 70%;
	background: #ffff00;
}

#photographyC{
	left: 75%;
	height: 30%;
	background: #ff1493;
}

.hobby-tip{
	position: relative;
	margin: 0 auto;
	width: 90%;
	height: 20px;
}

.kind{
	position: absolute;
	top: 0;
	width: 10%;
	text-align: center;
	font-size: 16px;
}

#basketballT{
	left: 35%;
}

#conanT{
	left: 55%;
}

#programmingT{
	left: 15%;
}

#photographyT{
	left: 75%;
}

@media all and (max-width: 420px){
	.page3 h2{
		margin-top: 30px;
		margin-bottom: 10px;
	}
}

@keyframes basketballShow{
	0%{
		height: 0;
			
	}
	100%{
		height: 85%;
	}
}
@keyframes programmingShow{
	0%{
		height: 0;
			
	}
	100%{
		height: 70%;
	}
}
@keyframes conanShow{
	0%{
		height: 0;
			
	}
	100%{
		height: 55%;
	}
}
@keyframes photographyShow{
	0%{
		height: 0;
			
	}
	100%{
		height: 30%;
	}
}

/*page3 ended, page4 begins*/

.page4 h2{
	font-weight: lighter;
	font-size: 1.5rem;
	margin-top: 50px;
	margin-left: 5%;
}

.photocon{
	float: left;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.5);
}


@media all and (max-width: 420px){
	.page4 h2{
		margin-top: 30px;
		margin-bottom: 0;
	}

	.picture{
		height: 29%;
		width: 49%;
		margin: 0;
		padding: 0;
		border: 0;
		display: inline-block;
	}

}